
.navigation-menu {
  font-family: var(--bs-font-monospace);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 280px;
  top:370px;
  background: var(--card-color);
  color: var(--btn-color);
  padding-top: 10px;
  z-index: 2;
  overflow: hidden;
}
.welcome-menu {
  padding-top:20px;

  width: 280px;
  background: var(--card-color);
  color: var(--btn-color);
  position: fixed;
  height: fit-content;
  z-index: 2;
  overflow: hidden;
}
.pdp {
  max-width: 160px;
  border-radius: 50%;
}
.bio {
  font-family: var(--bs-font-sans-serif);
  text-align: center;
  font-size: 0.875rem;
}

.navigation-menu nav div {
  font-weight: bold;
  color: var(--btn-color);
  padding: 0.625rem 1.5rem;
  display: block;
  cursor: pointer;
}
.navigation-menu li {
  list-style-type: none;
}
.active {
  color: rgba(0,0,0,0.5) !important;
}

.hireMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  height: 20px;
  width: 80px;
  font-size: 0.875rem;

}

.hamburger {
  display: none;
}
.hamburger svg {
  fill: var(--btn-color);
}

.container-switch {
  position: fixed;
  top: 650px;
  margin-left:90px;
  z-index: 3;
}

@media screen and (max-width: 1250px) {
  .navigation-menu, header  {
    position: fixed;
    top:auto;
    bottom: 0;
    height: auto;
    padding-top: 20px;
    width: 100%;
    height: 100px;
    margin-bottom: 0;
    z-index: 2;
  }
  .welcome-menu {
    bottom: 120px;
    width: 100%;
  }
  
  .navigation-menu ul {
    justify-content: space-around;
    padding: 0 20px;
    width: 100vw;
  }

  .hamburger {
    margin-bottom: 10px;
    display: block;
    z-index: 2;
    height: 20px;
    width: 20px;
    position: relative;
 
  }

  .little-screen-hidden{
    display: none;
  }
  .container-switch {
    position: absolute;
    top: -300px;
    margin-right: 15px;;
    right:0;
    z-index: 3;
    -webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
  }
  .closed {
    display: none;
  }
  .closing {
    -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  .expanding {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}


@media screen and (max-width: 768px) {
  .navigation-menu nav div {
    font-size: 0.6rem;
      display: flex;
      flex-direction: column;

      padding: 0.1rem 0rem;
  }	
  .navigation-menu nav div svg {
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    
  }
  .hireMe {
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .hireMe svg {
    margin-left: 25px !important;
  }
}




/* ----------------------------------------------
 * Generated by Animista on 2022-8-16 12:1:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-16 0:4:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media screen and (min-width : 1250px) {
  .navigation-menu nav div:hover {
    -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
            animation: pulsate-bck 0.5s ease-in-out infinite both;
  }
}

 @-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

 @-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
}










