.container-blog {
    max-width: 800px;

}

#blog {
    width: 100%;
    height: 1600px;
    border: none;
    padding-top: -200px;
    z-index: 1 ;
    scrollbar-width: none;
    margin-left: 140px;
}

@media screen and (max-width: 1250px) {
    #blog {
        margin-left: 0;
        height: 1900px;
    }
    .cv {
        width: 100%;
        padding: 0;
    }
    #cv {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
}
@media screen and (max-width: 1200px) {
    #blog {
        height: 1500px;
    }
}
@media screen and (max-width: 1000px) {
    #blog {
        height: 1600px;
    }
}
@media screen and (max-width: 850px) {
    #blog {
        height: 1700px;
    }
}
@media screen and (max-width: 650px) {
    #blog {
        height: 1800px;
    }
}
@media screen and (max-width: 550px) {
    #blog {
        height: 1900px;
    }
}
@media screen and (max-width: 450px) {
    #blog {
        height: 2000px;
    }
}