.portfolio {
    margin-top: 200px;;
}
.project-image {
    border-radius: 5%;
}
.no-padding {
    padding: 0px;
}

.shadow-container {
    box-shadow: var(--shadow-color);    
}

.arrow {
    width: 20px;
    height: 20px;

}

.projet-icon {
    margin-left: 100px;
}
.project-item {
    max-width: 375px;
    min-width: 375px;
    height: 550px;
    padding: 0;
    margin : 0;
    padding-bottom: 30px;
    border-radius: 1%;
    flex-wrap: wrap;
    background-color: var(--bg-trigger);
    margin-left: 50px;
    margin-bottom: 50px;
}
@media (max-width: 800px) {

    .no-margin  {
        margin: 0;
    }
    .subtitle {
        margin-left: 0;
    }
    .project-item {
        margin-left: 0;
    }
}